* {
    padding: 0;
    margin: 0;
}

#main{
    text-align: center;
}
#box1, #box2, #box3, #box4, #box5,
#box6, #box7, #box8, #box9 {
    width: 100px;
    height: 100px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
    margin-top: -15px;
}
#box1:hover, #box2:hover, #box3:hover, #box4:hover, #box5:hover,
#box6:hover, #box7:hover, #box8:hover, #box9:hover{
    cursor: pointer;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.green{
    color: green;
}
#reset{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #f04d0c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: block;
    margin: 20px auto;
}
#reset:hover{
    cursor: pointer;
    background-color: #d8460c
}
#reset:active{
    background-color: #d8460c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#winMessage{
    display:none;
}
h1{
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2{
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}